body {
  padding-top: 25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 1.428571429;
color: #46472B;
}
.starter-template {
    
    padding-top:140px;
	padding-bottom:20px;
	padding-left:15px;
	padding-right:15px;
    text-align: center;
}

.navbar-inverse {
background-color: #F1F1DC;
border-color: #FFFFFF;
color: red;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
color: #000;
background-color: #F8F8DC;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#663366;
    background-color: #EEEEDD;
}


.navbar-inverse .navbar-nav > li > a{
	
	color: #4C4C4C;
	
	
}

.col-lg-4 {
 float: inherit;   
  padding: 10px 10px;
  margin-bottom: 40px;
  background-color:#F8F8DC;
}

.jumbotron{
	
	padding: 5px 0px;
	background-color: transparent;
	color: #663366;
	font-size: 20px;
	margin-bottom: 5px;

}
.row {
margin-right: 0px;
margin-left: 0px;
}

a:hover{
	
	text-decoration:none;
}



.gepostet{
	
	font-size: 14px;
	margin-top: 10px;
}


